APP_NAME=AI Powered Dashboard API
APP_ENV=local
APP_HOST=0.0.0.0
APP_PORT=8000
BACKEND_CORS_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
FRONTEND_PORT=3000
BACKEND_PORT=8000

